extends base.pug

block style 
    style
        include ../static/style.css
        include ../static/style-aboutus.css

block content
    div.container
        h1 About us
        h2 Welcome to your Dance Academy Website
        p
            | BDA Dance Academy has been the Authority in Dance since 2022 dating back to the original BDA
            | Dance Academy in Haldwani, Nainital, Uttarakhand
            | India. It Was The place for Serious Dancing. Opened Long Before The Modern-Day Dance Club existed,The
            | Original BDA Dance Academy
            | featured several dance forms and a dedication to getting results. It was an Instant Hit.
            | BDA Quickly Became Known As &ldquo;The Mecca Of Dancing.&apos;&apos;
        a.btn(href='/contact') Get in touch
