extends base.pug

block style 
    style
        include ../static/style.css 
        include ../static/style-services.css 

block content 
    .container
      .box
        .icon 01
        .content
          h3 Online classes
          p
            | Online classes are typically a mix of video recordings or live lectures
            | supplemented with readings and assessments that students can complete on their own time.
          a(href='#') READ MORE
      .box
        .icon 02
        .content
          h3 Online demo
          p
            | Online classes are typically a mix of video recordings or live lectures
            | supplemented with readings and assessments that students can complete on their own time.
          a(href='#') READ MORE
      .box
        .icon 03
        .content
          h3 Online lectures
          p
            | Online classes are typically a mix of video recordings or live lectures
            | supplemented with readings and assessments that students can complete on their own time.
          a(href='#') READ MORE
